.navbar{
    height: 50px;
    background-color: rgb(206, 219, 215);
    display:flex;
    justify-content:center;
}

.navContainer{
    width: 100%;
    max-width:1024px;
    color:white;
    display:flex;
    align-items:center;
    justify-content: space-between;

}

.logo{
   font-weight: 500; 
   color: black;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding:5px 10px;
    cursor:pointer;
    color:white;
    background-color: rgb(2, 84, 2);
    border-radius: 10px;
}